.badge {
  background-color: #000;
  color: #fff;
  padding: 12px 20px;
  border-radius: 25px;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  gap: 15px;
  font-weight: 500;
}

.badge button {
  background-color: #C63939;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1;
  padding: 0;
  margin: 0;
  transition: background-color 0.3s ease;
}

.badge button:hover {
  background-color: #a02929;
}
