footer {
  width: 100%;
  color: #333;
  text-align: center;
  padding: 16px 0 12px 0;
  font-size: 1rem;
  box-shadow: 0 -1px 4px rgba(0,0,0,0.03);
  margin-top: 48px;
}

footer p {
  margin: 0;
  font-family: inherit;
}