/* immagine come background image */

.recipe-card {
  background-color: #5A5A5A;
  border-radius: 0;
  overflow: hidden;
  box-shadow: none;
  min-height: calc(100vh - 120px);
  height: calc(100vh - 120px);
  cursor: pointer;
  transition: none;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.recipe-card:hover {
  transform: none;
}


.recipe-card .heading {
  background-color: #3A3A3A;
  padding: 30px 20px 20px 20px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.recipe-card .heading h3 {
  color: #fff;
  font-size: 1.5rem;
  margin: 0;
  font-weight: 600;
}

.recipe-card .info-zone {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.recipe-card .info-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  color: #fff;
}

.recipe-card .info-item:last-child {
  margin-bottom: 0;
}

.recipe-card .info-item p {
  margin: 0;
  font-size: 0.95rem;
}

.recipe-card .info-item span {
  background-color: #C63939;
  color: #fff;
  padding: 5px 15px;
  border-radius: 20px;
  font-weight: bold;
  min-width: 30px;
  text-align: center;
}
